services:
  # 1. FastAPI Web Service (Docker)
  - type: web
    name: kasparro-api
    env: docker
    plan: free
    healthCheckPath: /api/v1/health
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: kasparro-db
          property: connectionString
      - key: API_KEY
        generateValue: true
      - key: COINPAPRIKA_API_KEY
        value: ""
      - key: DEBUG
        value: "false"
    autoDeploy: true

databases:
  - name: kasparro-db
    plan: free
